pypdf
pinecone-client
langchain-pinecone
langchain-openai
langchain
openai
PyPDF2
PyMuPDF
spire.pdf
pydantic
pydantic_settings
selenium
fake_useragent
requests
wrapt_timeout_decorator
google-generativeai
ipython
google-cloud-aiplatform>=1.38
google-auth
google-auth-oauthlib
google-auth-httplib2
pyTelegramBotAPI